.authentication-container {
    display: flex;
    flex-direction: row;
    width: min(90%, 900px);
    justify-content: space-between;
    margin: 30px auto;
    

    .form-container {
        display: flex;
        flex-direction: column;
        width: 380px;
        padding: 0 5px;
    
        h2 {
            margin: 10px 0;
        }

        .authentication-button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5%;
            margin: auto 0;
        }
    }
}